services:
  app:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      migrate:
        condition: service_completed_successfully
    networks:
      - app-network

  migrate:
    build:
      context: .
      target: builder
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    command: node scripts/setupDb.js

  db:
    image: postgres:latest
    networks:
      - app-network
    env_file:
      - ./.env
    volumes:
      - app-volume:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d digital_closet"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  app-network:

volumes:
  app-volume:
